/* =======================================
   FONT VARIABLES
   =======================================
   0a:  All google fonts as variables
   1a:  Helvetica-neue / Sans serif font family (Bootstrap default)
   1b:  Helvetica font stack.  For more see See
        https://css-tricks.com/snippets/css/better-helvetica
   1c:  Bootstraps default monospace font
        for `<code>`, `<kbd>`, and `<pre>`.
   1d:  Serif font family
   1e:  Titillium font family / sci-fi looking font
   1f:  Ampersand font family popular technical blogs
   2a:  Font size root foundation variable
   3a:  Font size range
   --------------------------------------- */
:root {
    --font-abeezee: "ABeeZee";
    --font-abel: "Abel";
    --font-abhaya-libre: "Abhaya Libre";
    --font-abril-fatface: "Abril Fatface";
    --font-aclonica: "Aclonica";
    --font-acme: "Acme";
    --font-actor: "Actor";
    --font-adamina: "Adamina";
    --font-advent-pro: "Advent Pro";
    --font-aguafina-script: "Aguafina Script";
    --font-akronim: "Akronim";
    --font-aladin: "Aladin";
    --font-aldrich: "Aldrich";
    --font-alef: "Alef";
    --font-alegreya: "Alegreya";
    --font-alegreya-sc: "Alegreya SC";
    --font-alegreya-sans: "Alegreya Sans";
    --font-alegreya-sans-sc: "Alegreya Sans SC";
    --font-alex-brush: "Alex Brush";
    --font-alfa-slab-one: "Alfa Slab One";
    --font-alice: "Alice";
    --font-alike: "Alike";
    --font-alike-angular: "Alike Angular";
    --font-allan: "Allan";
    --font-allerta: "Allerta";
    --font-allerta-stencil: "Allerta Stencil";
    --font-allura: "Allura";
    --font-almendra: "Almendra";
    --font-almendra-display: "Almendra Display";
    --font-almendra-sc: "Almendra SC";
    --font-amarante: "Amarante";
    --font-amaranth: "Amaranth";
    --font-amatic-sc: "Amatic SC";
    --font-amatica-sc: "Amatica SC";
    --font-amethysta: "Amethysta";
    --font-amiko: "Amiko";
    --font-amiri: "Amiri";
    --font-amita: "Amita";
    --font-anaheim: "Anaheim";
    --font-andada: "Andada";
    --font-andika: "Andika";
    --font-angkor: "Angkor";
    --font-annie-use-your-telescope: "Annie Use Your Telescope";
    --font-anonymous-pro: "Anonymous Pro";
    --font-antic: "Antic";
    --font-antic-didone: "Antic Didone";
    --font-antic-slab: "Antic Slab";
    --font-anton: "Anton";
    --font-arapey: "Arapey";
    --font-arbutus: "Arbutus";
    --font-arbutus-slab: "Arbutus Slab";
    --font-architects-daughter: "Architects Daughter";
    --font-archivo-black: "Archivo Black";
    --font-archivo-narrow: "Archivo Narrow";
    --font-aref-ruqaa: "Aref Ruqaa";
    --font-arima-madurai: "Arima Madurai";
    --font-arimo: "Arimo";
    --font-arizonia: "Arizonia";
    --font-armata: "Armata";
    --font-arsenal: "Arsenal";
    --font-artifika: "Artifika";
    --font-arvo: "Arvo";
    --font-arya: "Arya";
    --font-asap: "Asap";
    --font-asar: "Asar";
    --font-asset: "Asset";
    --font-assistant: "Assistant";
    --font-astloch: "Astloch";
    --font-asul: "Asul";
    --font-athiti: "Athiti";
    --font-atma: "Atma";
    --font-atomic-age: "Atomic Age";
    --font-aubrey: "Aubrey";
    --font-audiowide: "Audiowide";
    --font-autour-one: "Autour One";
    --font-average: "Average";
    --font-average-sans: "Average Sans";
    --font-averia-gruesa-libre: "Averia Gruesa Libre";
    --font-averia-libre: "Averia Libre";
    --font-averia-sans-libre: "Averia Sans Libre";
    --font-averia-serif-libre: "Averia Serif Libre";
    --font-bad-script: "Bad Script";
    --font-bahiana: "Bahiana";
    --font-baloo: "Baloo";
    --font-baloo-bhai: "Baloo Bhai";
    --font-baloo-bhaina: "Baloo Bhaina";
    --font-baloo-chettan: "Baloo Chettan";
    --font-baloo-da: "Baloo Da";
    --font-baloo-paaji: "Baloo Paaji";
    --font-baloo-tamma: "Baloo Tamma";
    --font-baloo-thambi: "Baloo Thambi";
    --font-balthazar: "Balthazar";
    --font-bangers: "Bangers";
    --font-barrio: "Barrio";
    --font-basic: "Basic";
    --font-battambang: "Battambang";
    --font-baumans: "Baumans";
    --font-bayon: "Bayon";
    --font-belgrano: "Belgrano";
    --font-belleza: "Belleza";
    --font-benchnine: "BenchNine";
    --font-bentham: "Bentham";
    --font-berkshire-swash: "Berkshire Swash";
    --font-bevan: "Bevan";
    --font-bigelow-rules: "Bigelow Rules";
    --font-bigshot-one: "Bigshot One";
    --font-bilbo: "Bilbo";
    --font-bilbo-swash-caps: "Bilbo Swash Caps";
    --font-biorhyme: "BioRhyme";
    --font-biorhyme-expanded: "BioRhyme Expanded";
    --font-biryani: "Biryani";
    --font-bitter: "Bitter";
    --font-black-ops-one: "Black Ops One";
    --font-bokor: "Bokor";
    --font-bonbon: "Bonbon";
    --font-boogaloo: "Boogaloo";
    --font-bowlby-one: "Bowlby One";
    --font-bowlby-one-sc: "Bowlby One SC";
    --font-brawler: "Brawler";
    --font-bree-serif: "Bree Serif";
    --font-bubblegum-sans: "Bubblegum Sans";
    --font-bubbler-one: "Bubbler One";
    --font-buda: "Buda";
    --font-buenard: "Buenard";
    --font-bungee: "Bungee";
    --font-bungee-hairline: "Bungee Hairline";
    --font-bungee-inline: "Bungee Inline";
    --font-bungee-outline: "Bungee Outline";
    --font-bungee-shade: "Bungee Shade";
    --font-butcherman: "Butcherman";
    --font-butterfly-kids: "Butterfly Kids";
    --font-cabin: "Cabin";
    --font-cabin-condensed: "Cabin Condensed";
    --font-cabin-sketch: "Cabin Sketch";
    --font-caesar-dressing: "Caesar Dressing";
    --font-cagliostro: "Cagliostro";
    --font-cairo: "Cairo";
    --font-calligraffitti: "Calligraffitti";
    --font-cambay: "Cambay";
    --font-cambo: "Cambo";
    --font-candal: "Candal";
    --font-cantarell: "Cantarell";
    --font-cantata-one: "Cantata One";
    --font-cantora-one: "Cantora One";
    --font-capriola: "Capriola";
    --font-cardo: "Cardo";
    --font-carme: "Carme";
    --font-carrois-gothic: "Carrois Gothic";
    --font-carrois-gothic-sc: "Carrois Gothic SC";
    --font-carter-one: "Carter One";
    --font-catamaran: "Catamaran";
    --font-caudex: "Caudex";
    --font-caveat: "Caveat";
    --font-caveat-brush: "Caveat Brush";
    --font-cedarville-cursive: "Cedarville Cursive";
    --font-ceviche-one: "Ceviche One";
    --font-changa: "Changa";
    --font-changa-one: "Changa One";
    --font-chango: "Chango";
    --font-chathura: "Chathura";
    --font-chau-philomene-one: "Chau Philomene One";
    --font-chela-one: "Chela One";
    --font-chelsea-market: "Chelsea Market";
    --font-chenla: "Chenla";
    --font-cherry-cream-soda: "Cherry Cream Soda";
    --font-cherry-swash: "Cherry Swash";
    --font-chewy: "Chewy";
    --font-chicle: "Chicle";
    --font-chivo: "Chivo";
    --font-chonburi: "Chonburi";
    --font-cinzel: "Cinzel";
    --font-cinzel-decorative: "Cinzel Decorative";
    --font-clicker-script: "Clicker Script";
    --font-coda: "Coda";
    --font-coda-caption: "Coda Caption";
    --font-codystar: "Codystar";
    --font-coiny: "Coiny";
    --font-combo: "Combo";
    --font-comfortaa: "Comfortaa";
    --font-coming-soon: "Coming Soon";
    --font-concert-one: "Concert One";
    --font-condiment: "Condiment";
    --font-content: "Content";
    --font-contrail-one: "Contrail One";
    --font-convergence: "Convergence";
    --font-cookie: "Cookie";
    --font-copse: "Copse";
    --font-corben: "Corben";
    --font-cormorant: "Cormorant";
    --font-cormorant-garamond: "Cormorant Garamond";
    --font-cormorant-infant: "Cormorant Infant";
    --font-cormorant-sc: "Cormorant SC";
    --font-cormorant-unicase: "Cormorant Unicase";
    --font-cormorant-upright: "Cormorant Upright";
    --font-courgette: "Courgette";
    --font-cousine: "Cousine";
    --font-coustard: "Coustard";
    --font-covered-by-your-grace: "Covered By Your Grace";
    --font-crafty-girls: "Crafty Girls";
    --font-creepster: "Creepster";
    --font-crete-round: "Crete Round";
    --font-crimson-text: "Crimson Text";
    --font-croissant-one: "Croissant One";
    --font-crushed: "Crushed";
    --font-cuprum: "Cuprum";
    --font-cutive: "Cutive";
    --font-cutive-mono: "Cutive Mono";
    --font-damion: "Damion";
    --font-dancing-script: "Dancing Script";
    --font-dangrek: "Dangrek";
    --font-david-libre: "David Libre";
    --font-dawning-of-a-new-day: "Dawning of a New Day";
    --font-days-one: "Days One";
    --font-dekko: "Dekko";
    --font-delius: "Delius";
    --font-delius-swash-caps: "Delius Swash Caps";
    --font-delius-unicase: "Delius Unicase";
    --font-della-respira: "Della Respira";
    --font-denk-one: "Denk One";
    --font-devonshire: "Devonshire";
    --font-dhurjati: "Dhurjati";
    --font-didact-gothic: "Didact Gothic";
    --font-diplomata: "Diplomata";
    --font-diplomata-sc: "Diplomata SC";
    --font-domine: "Domine";
    --font-donegal-one: "Donegal One";
    --font-doppio-one: "Doppio One";
    --font-dorsa: "Dorsa";
    --font-dosis: "Dosis";
    --font-dr-sugiyama: "Dr Sugiyama";
    --font-droid-sans: "Droid Sans";
    --font-droid-sans-mono: "Droid Sans Mono";
    --font-droid-serif: "Droid Serif";
    --font-duru-sans: "Duru Sans";
    --font-dynalight: "Dynalight";
    --font-eb-garamond: "EB Garamond";
    --font-eagle-lake: "Eagle Lake";
    --font-eater: "Eater";
    --font-economica: "Economica";
    --font-eczar: "Eczar";
    --font-ek-mukta: "Ek Mukta";
    --font-el-messiri: "El Messiri";
    --font-electrolize: "Electrolize";
    --font-elsie: "Elsie";
    --font-elsie-swash-caps: "Elsie Swash Caps";
    --font-emblema-one: "Emblema One";
    --font-emilys-candy: "Emilys Candy";
    --font-engagement: "Engagement";
    --font-englebert: "Englebert";
    --font-enriqueta: "Enriqueta";
    --font-erica-one: "Erica One";
    --font-esteban: "Esteban";
    --font-euphoria-script: "Euphoria Script";
    --font-ewert: "Ewert";
    --font-exo: "Exo";
    --font-exo-2: "Exo 2";
    --font-expletus-sans: "Expletus Sans";
    --font-fanwood-text: "Fanwood Text";
    --font-farsan: "Farsan";
    --font-fascinate: "Fascinate";
    --font-fascinate-inline: "Fascinate Inline";
    --font-faster-one: "Faster One";
    --font-fasthand: "Fasthand";
    --font-fauna-one: "Fauna One";
    --font-federant: "Federant";
    --font-federo: "Federo";
    --font-felipa: "Felipa";
    --font-fenix: "Fenix";
    --font-finger-paint: "Finger Paint";
    --font-fira-mono: "Fira Mono";
    --font-fira-sans: "Fira Sans";
    --font-fira-sans-condensed: "Fira Sans Condensed";
    --font-fira-sans-extra-condensed: "Fira Sans Extra Condensed";
    --font-fjalla-one: "Fjalla One";
    --font-fjord-one: "Fjord One";
    --font-flamenco: "Flamenco";
    --font-flavors: "Flavors";
    --font-fondamento: "Fondamento";
    --font-fontdiner-swanky: "Fontdiner Swanky";
    --font-forum: "Forum";
    --font-francois-one: "Francois One";
    --font-frank-ruhl-libre: "Frank Ruhl Libre";
    --font-freckle-face: "Freckle Face";
    --font-fredericka-the-great: "Fredericka the Great";
    --font-fredoka-one: "Fredoka One";
    --font-freehand: "Freehand";
    --font-fresca: "Fresca";
    --font-frijole: "Frijole";
    --font-fruktur: "Fruktur";
    --font-fugaz-one: "Fugaz One";
    --font-gfs-didot: "GFS Didot";
    --font-gfs-neohellenic: "GFS Neohellenic";
    --font-gabriela: "Gabriela";
    --font-gafata: "Gafata";
    --font-galada: "Galada";
    --font-galdeano: "Galdeano";
    --font-galindo: "Galindo";
    --font-gentium-basic: "Gentium Basic";
    --font-gentium-book-basic: "Gentium Book Basic";
    --font-geo: "Geo";
    --font-geostar: "Geostar";
    --font-geostar-fill: "Geostar Fill";
    --font-germania-one: "Germania One";
    --font-gidugu: "Gidugu";
    --font-gilda-display: "Gilda Display";
    --font-give-you-glory: "Give You Glory";
    --font-glass-antiqua: "Glass Antiqua";
    --font-glegoo: "Glegoo";
    --font-gloria-hallelujah: "Gloria Hallelujah";
    --font-goblin-one: "Goblin One";
    --font-gochi-hand: "Gochi Hand";
    --font-gorditas: "Gorditas";
    --font-goudy-bookletter-1911: "Goudy Bookletter 1911";
    --font-graduate: "Graduate";
    --font-grand-hotel: "Grand Hotel";
    --font-gravitas-one: "Gravitas One";
    --font-great-vibes: "Great Vibes";
    --font-griffy: "Griffy";
    --font-gruppo: "Gruppo";
    --font-gudea: "Gudea";
    --font-gurajada: "Gurajada";
    --font-habibi: "Habibi";
    --font-halant: "Halant";
    --font-hammersmith-one: "Hammersmith One";
    --font-hanalei: "Hanalei";
    --font-hanalei-fill: "Hanalei Fill";
    --font-handlee: "Handlee";
    --font-hanuman: "Hanuman";
    --font-happy-monkey: "Happy Monkey";
    --font-harmattan: "Harmattan";
    --font-headland-one: "Headland One";
    --font-heebo: "Heebo";
    --font-henny-penny: "Henny Penny";
    --font-herr-von-muellerhoff: "Herr Von Muellerhoff";
    --font-hind: "Hind";
    --font-hind-guntur: "Hind Guntur";
    --font-hind-madurai: "Hind Madurai";
    --font-hind-siliguri: "Hind Siliguri";
    --font-hind-vadodara: "Hind Vadodara";
    --font-holtwood-one-sc: "Holtwood One SC";
    --font-homemade-apple: "Homemade Apple";
    --font-homenaje: "Homenaje";
    --font-im-fell-dw-pica: "IM Fell DW Pica";
    --font-im-fell-dw-pica-sc: "IM Fell DW Pica SC";
    --font-im-fell-double-pica: "IM Fell Double Pica";
    --font-im-fell-double-pica-sc: "IM Fell Double Pica SC";
    --font-im-fell-english: "IM Fell English";
    --font-im-fell-english-sc: "IM Fell English SC";
    --font-im-fell-french-canon: "IM Fell French Canon";
    --font-im-fell-french-canon-sc: "IM Fell French Canon SC";
    --font-im-fell-great-primer: "IM Fell Great Primer";
    --font-im-fell-great-primer-sc: "IM Fell Great Primer SC";
    --font-iceberg: "Iceberg";
    --font-iceland: "Iceland";
    --font-imprima: "Imprima";
    --font-inconsolata: "Inconsolata";
    --font-inder: "Inder";
    --font-indie-flower: "Indie Flower";
    --font-inika: "Inika";
    --font-inknut-antiqua: "Inknut Antiqua";
    --font-irish-grover: "Irish Grover";
    --font-istok-web: "Istok Web";
    --font-italiana: "Italiana";
    --font-italianno: "Italianno";
    --font-itim: "Itim";
    --font-jacques-francois: "Jacques Francois";
    --font-jacques-francois-shadow: "Jacques Francois Shadow";
    --font-jaldi: "Jaldi";
    --font-jim-nightshade: "Jim Nightshade";
    --font-jockey-one: "Jockey One";
    --font-jolly-lodger: "Jolly Lodger";
    --font-jomhuria: "Jomhuria";
    --font-josefin-sans: "Josefin Sans";
    --font-josefin-slab: "Josefin Slab";
    --font-joti-one: "Joti One";
    --font-judson: "Judson";
    --font-julee: "Julee";
    --font-julius-sans-one: "Julius Sans One";
    --font-junge: "Junge";
    --font-jura: "Jura";
    --font-just-another-hand: "Just Another Hand";
    --font-just-me-again-down-here: "Just Me Again Down Here";
    --font-kadwa: "Kadwa";
    --font-kalam: "Kalam";
    --font-kameron: "Kameron";
    --font-kanit: "Kanit";
    --font-kantumruy: "Kantumruy";
    --font-karla: "Karla";
    --font-karma: "Karma";
    --font-katibeh: "Katibeh";
    --font-kaushan-script: "Kaushan Script";
    --font-kavivanar: "Kavivanar";
    --font-kavoon: "Kavoon";
    --font-kdam-thmor: "Kdam Thmor";
    --font-keania-one: "Keania One";
    --font-kelly-slab: "Kelly Slab";
    --font-kenia: "Kenia";
    --font-khand: "Khand";
    --font-khmer: "Khmer";
    --font-khula: "Khula";
    --font-kite-one: "Kite One";
    --font-knewave: "Knewave";
    --font-kotta-one: "Kotta One";
    --font-koulen: "Koulen";
    --font-kranky: "Kranky";
    --font-kreon: "Kreon";
    --font-kristi: "Kristi";
    --font-krona-one: "Krona One";
    --font-kumar-one: "Kumar One";
    --font-kumar-one-outline: "Kumar One Outline";
    --font-kurale: "Kurale";
    --font-la-belle-aurore: "La Belle Aurore";
    --font-laila: "Laila";
    --font-lakki-reddy: "Lakki Reddy";
    --font-lalezar: "Lalezar";
    --font-lancelot: "Lancelot";
    --font-lateef: "Lateef";
    --font-lato: "Lato";
    --font-league-script: "League Script";
    --font-leckerli-one: "Leckerli One";
    --font-ledger: "Ledger";
    --font-lekton: "Lekton";
    --font-lemon: "Lemon";
    --font-lemonada: "Lemonada";
    --font-libre-baskerville: "Libre Baskerville";
    --font-libre-franklin: "Libre Franklin";
    --font-life-savers: "Life Savers";
    --font-lilita-one: "Lilita One";
    --font-lily-script-one: "Lily Script One";
    --font-limelight: "Limelight";
    --font-linden-hill: "Linden Hill";
    --font-lobster: "Lobster";
    --font-lobster-two: "Lobster Two";
    --font-londrina-outline: "Londrina Outline";
    --font-londrina-shadow: "Londrina Shadow";
    --font-londrina-sketch: "Londrina Sketch";
    --font-londrina-solid: "Londrina Solid";
    --font-lora: "Lora";
    --font-love-ya-like-a-sister: "Love Ya Like A Sister";
    --font-loved-by-the-king: "Loved by the King";
    --font-lovers-quarrel: "Lovers Quarrel";
    --font-luckiest-guy: "Luckiest Guy";
    --font-lusitana: "Lusitana";
    --font-lustria: "Lustria";
    --font-macondo: "Macondo";
    --font-macondo-swash-caps: "Macondo Swash Caps";
    --font-mada: "Mada";
    --font-magra: "Magra";
    --font-maiden-orange: "Maiden Orange";
    --font-maitree: "Maitree";
    --font-mako: "Mako";
    --font-mallanna: "Mallanna";
    --font-mandali: "Mandali";
    --font-marcellus: "Marcellus";
    --font-marcellus-sc: "Marcellus SC";
    --font-marck-script: "Marck Script";
    --font-margarine: "Margarine";
    --font-marko-one: "Marko One";
    --font-marmelad: "Marmelad";
    --font-martel: "Martel";
    --font-martel-sans: "Martel Sans";
    --font-marvel: "Marvel";
    --font-mate: "Mate";
    --font-mate-sc: "Mate SC";
    --font-maven-pro: "Maven Pro";
    --font-mclaren: "McLaren";
    --font-meddon: "Meddon";
    --font-medievalsharp: "MedievalSharp";
    --font-medula-one: "Medula One";
    --font-meera-inimai: "Meera Inimai";
    --font-megrim: "Megrim";
    --font-meie-script: "Meie Script";
    --font-merienda: "Merienda";
    --font-merienda-one: "Merienda One";
    --font-merriweather: "Merriweather";
    --font-merriweather-sans: "Merriweather Sans";
    --font-metal: "Metal";
    --font-metal-mania: "Metal Mania";
    --font-metamorphous: "Metamorphous";
    --font-metrophobic: "Metrophobic";
    --font-michroma: "Michroma";
    --font-milonga: "Milonga";
    --font-miltonian: "Miltonian";
    --font-miltonian-tattoo: "Miltonian Tattoo";
    --font-miniver: "Miniver";
    --font-miriam-libre: "Miriam Libre";
    --font-mirza: "Mirza";
    --font-miss-fajardose: "Miss Fajardose";
    --font-mitr: "Mitr";
    --font-modak: "Modak";
    --font-modern-antiqua: "Modern Antiqua";
    --font-mogra: "Mogra";
    --font-molengo: "Molengo";
    --font-molle: "Molle";
    --font-monda: "Monda";
    --font-monofett: "Monofett";
    --font-monoton: "Monoton";
    --font-monsieur-la-doulaise: "Monsieur La Doulaise";
    --font-montaga: "Montaga";
    --font-montez: "Montez";
    --font-montserrat: "Montserrat";
    --font-montserrat-alternates: "Montserrat Alternates";
    --font-montserrat-subrayada: "Montserrat Subrayada";
    --font-moul: "Moul";
    --font-moulpali: "Moulpali";
    --font-mountains-of-christmas: "Mountains of Christmas";
    --font-mouse-memoirs: "Mouse Memoirs";
    --font-mr-bedfort: "Mr Bedfort";
    --font-mr-dafoe: "Mr Dafoe";
    --font-mr-de-haviland: "Mr De Haviland";
    --font-mrs-saint-delafield: "Mrs Saint Delafield";
    --font-mrs-sheppards: "Mrs Sheppards";
    --font-mukta-vaani: "Mukta Vaani";
    --font-muli: "Muli";
    --font-mystery-quest: "Mystery Quest";
    --font-ntr: "NTR";
    --font-neucha: "Neucha";
    --font-neuton: "Neuton";
    --font-new-rocker: "New Rocker";
    --font-news-cycle: "News Cycle";
    --font-niconne: "Niconne";
    --font-nixie-one: "Nixie One";
    --font-nobile: "Nobile";
    --font-nokora: "Nokora";
    --font-norican: "Norican";
    --font-nosifer: "Nosifer";
    --font-nothing-you-could-do: "Nothing You Could Do";
    --font-noticia-text: "Noticia Text";
    --font-noto-sans: "Noto Sans";
    --font-noto-serif: "Noto Serif";
    --font-nova-cut: "Nova Cut";
    --font-nova-flat: "Nova Flat";
    --font-nova-mono: "Nova Mono";
    --font-nova-oval: "Nova Oval";
    --font-nova-round: "Nova Round";
    --font-nova-script: "Nova Script";
    --font-nova-slim: "Nova Slim";
    --font-nova-square: "Nova Square";
    --font-numans: "Numans";
    --font-nunito: "Nunito";
    --font-nunito-sans: "Nunito Sans";
    --font-odor-mean-chey: "Odor Mean Chey";
    --font-offside: "Offside";
    --font-old-standard-tt: "Old Standard TT";
    --font-oldenburg: "Oldenburg";
    --font-oleo-script: "Oleo Script";
    --font-oleo-script-swash-caps: "Oleo Script Swash Caps";
    --font-open-sans: "Open Sans";
    --font-open-sans-condensed: "Open Sans Condensed";
    --font-oranienbaum: "Oranienbaum";
    --font-orbitron: "Orbitron";
    --font-oregano: "Oregano";
    --font-orienta: "Orienta";
    --font-original-surfer: "Original Surfer";
    --font-oswald: "Oswald";
    --font-over-the-rainbow: "Over the Rainbow";
    --font-overlock: "Overlock";
    --font-overlock-sc: "Overlock SC";
    --font-overpass: "Overpass";
    --font-overpass-mono: "Overpass Mono";
    --font-ovo: "Ovo";
    --font-oxygen: "Oxygen";
    --font-oxygen-mono: "Oxygen Mono";
    --font-pt-mono: "PT Mono";
    --font-pt-sans: "PT Sans";
    --font-pt-sans-caption: "PT Sans Caption";
    --font-pt-sans-narrow: "PT Sans Narrow";
    --font-pt-serif: "PT Serif";
    --font-pt-serif-caption: "PT Serif Caption";
    --font-pacifico: "Pacifico";
    --font-padauk: "Padauk";
    --font-palanquin: "Palanquin";
    --font-palanquin-dark: "Palanquin Dark";
    --font-pangolin: "Pangolin";
    --font-paprika: "Paprika";
    --font-parisienne: "Parisienne";
    --font-passero-one: "Passero One";
    --font-passion-one: "Passion One";
    --font-pathway-gothic-one: "Pathway Gothic One";
    --font-patrick-hand: "Patrick Hand";
    --font-patrick-hand-sc: "Patrick Hand SC";
    --font-pattaya: "Pattaya";
    --font-patua-one: "Patua One";
    --font-pavanam: "Pavanam";
    --font-paytone-one: "Paytone One";
    --font-peddana: "Peddana";
    --font-peralta: "Peralta";
    --font-permanent-marker: "Permanent Marker";
    --font-petit-formal-script: "Petit Formal Script";
    --font-petrona: "Petrona";
    --font-philosopher: "Philosopher";
    --font-piedra: "Piedra";
    --font-pinyon-script: "Pinyon Script";
    --font-pirata-one: "Pirata One";
    --font-plaster: "Plaster";
    --font-play: "Play";
    --font-playball: "Playball";
    --font-playfair-display: "Playfair Display";
    --font-playfair-display-sc: "Playfair Display SC";
    --font-podkova: "Podkova";
    --font-poiret-one: "Poiret One";
    --font-poller-one: "Poller One";
    --font-poly: "Poly";
    --font-pompiere: "Pompiere";
    --font-pontano-sans: "Pontano Sans";
    --font-poppins: "Poppins";
    --font-port-lligat-sans: "Port Lligat Sans";
    --font-port-lligat-slab: "Port Lligat Slab";
    --font-pragati-narrow: "Pragati Narrow";
    --font-prata: "Prata";
    --font-preahvihear: "Preahvihear";
    --font-press-start-2p: "Press Start 2P";
    --font-pridi: "Pridi";
    --font-princess-sofia: "Princess Sofia";
    --font-prociono: "Prociono";
    --font-prompt: "Prompt";
    --font-prosto-one: "Prosto One";
    --font-proza-libre: "Proza Libre";
    --font-puritan: "Puritan";
    --font-purple-purse: "Purple Purse";
    --font-quando: "Quando";
    --font-quantico: "Quantico";
    --font-quattrocento: "Quattrocento";
    --font-quattrocento-sans: "Quattrocento Sans";
    --font-questrial: "Questrial";
    --font-quicksand: "Quicksand";
    --font-quintessential: "Quintessential";
    --font-qwigley: "Qwigley";
    --font-racing-sans-one: "Racing Sans One";
    --font-radley: "Radley";
    --font-rajdhani: "Rajdhani";
    --font-rakkas: "Rakkas";
    --font-raleway: "Raleway";
    --font-raleway-dots: "Raleway Dots";
    --font-ramabhadra: "Ramabhadra";
    --font-ramaraja: "Ramaraja";
    --font-rambla: "Rambla";
    --font-rammetto-one: "Rammetto One";
    --font-ranchers: "Ranchers";
    --font-rancho: "Rancho";
    --font-ranga: "Ranga";
    --font-rasa: "Rasa";
    --font-rationale: "Rationale";
    --font-ravi-prakash: "Ravi Prakash";
    --font-redressed: "Redressed";
    --font-reem-kufi: "Reem Kufi";
    --font-reenie-beanie: "Reenie Beanie";
    --font-revalia: "Revalia";
    --font-rhodium-libre: "Rhodium Libre";
    --font-ribeye: "Ribeye";
    --font-ribeye-marrow: "Ribeye Marrow";
    --font-righteous: "Righteous";
    --font-risque: "Risque";
    --font-roboto: "Roboto";
    --font-roboto-condensed: "Roboto Condensed";
    --font-roboto-mono: "Roboto Mono";
    --font-roboto-slab: "Roboto Slab";
    --font-rochester: "Rochester";
    --font-rock-salt: "Rock Salt";
    --font-rokkitt: "Rokkitt";
    --font-romanesco: "Romanesco";
    --font-ropa-sans: "Ropa Sans";
    --font-rosario: "Rosario";
    --font-rosarivo: "Rosarivo";
    --font-rouge-script: "Rouge Script";
    --font-rozha-one: "Rozha One";
    --font-rubik: "Rubik";
    --font-rubik-mono-one: "Rubik Mono One";
    --font-ruda: "Ruda";
    --font-rufina: "Rufina";
    --font-ruge-boogie: "Ruge Boogie";
    --font-ruluko: "Ruluko";
    --font-rum-raisin: "Rum Raisin";
    --font-ruslan-display: "Ruslan Display";
    --font-russo-one: "Russo One";
    --font-ruthie: "Ruthie";
    --font-rye: "Rye";
    --font-sacramento: "Sacramento";
    --font-sahitya: "Sahitya";
    --font-sail: "Sail";
    --font-salsa: "Salsa";
    --font-sanchez: "Sanchez";
    --font-sancreek: "Sancreek";
    --font-sansita: "Sansita";
    --font-sarala: "Sarala";
    --font-sarina: "Sarina";
    --font-sarpanch: "Sarpanch";
    --font-satisfy: "Satisfy";
    --font-scada: "Scada";
    --font-scheherazade: "Scheherazade";
    --font-schoolbell: "Schoolbell";
    --font-scope-one: "Scope One";
    --font-seaweed-script: "Seaweed Script";
    --font-secular-one: "Secular One";
    --font-sevillana: "Sevillana";
    --font-seymour-one: "Seymour One";
    --font-shadows-into-light: "Shadows Into Light";
    --font-shadows-into-light-two: "Shadows Into Light Two";
    --font-shanti: "Shanti";
    --font-share: "Share";
    --font-share-tech: "Share Tech";
    --font-share-tech-mono: "Share Tech Mono";
    --font-shojumaru: "Shojumaru";
    --font-short-stack: "Short Stack";
    --font-shrikhand: "Shrikhand";
    --font-siemreap: "Siemreap";
    --font-sigmar-one: "Sigmar One";
    --font-signika: "Signika";
    --font-signika-negative: "Signika Negative";
    --font-simonetta: "Simonetta";
    --font-sintony: "Sintony";
    --font-sirin-stencil: "Sirin Stencil";
    --font-six-caps: "Six Caps";
    --font-skranji: "Skranji";
    --font-slabo-13px: "Slabo 13px";
    --font-slabo-27px: "Slabo 27px";
    --font-slackey: "Slackey";
    --font-smokum: "Smokum";
    --font-smythe: "Smythe";
    --font-sniglet: "Sniglet";
    --font-snippet: "Snippet";
    --font-snowburst-one: "Snowburst One";
    --font-sofadi-one: "Sofadi One";
    --font-sofia: "Sofia";
    --font-sonsie-one: "Sonsie One";
    --font-sorts-mill-goudy: "Sorts Mill Goudy";
    --font-source-code-pro: "Source Code Pro";
    --font-source-sans-pro: "Source Sans Pro";
    --font-source-serif-pro: "Source Serif Pro";
    --font-space-mono: "Space Mono";
    --font-special-elite: "Special Elite";
    --font-spicy-rice: "Spicy Rice";
    --font-spinnaker: "Spinnaker";
    --font-spirax: "Spirax";
    --font-squada-one: "Squada One";
    --font-sree-krushnadevaraya: "Sree Krushnadevaraya";
    --font-sriracha: "Sriracha";
    --font-stalemate: "Stalemate";
    --font-stalinist-one: "Stalinist One";
    --font-stardos-stencil: "Stardos Stencil";
    --font-stint-ultra-condensed: "Stint Ultra Condensed";
    --font-stint-ultra-expanded: "Stint Ultra Expanded";
    --font-stoke: "Stoke";
    --font-strait: "Strait";
    --font-sue-ellen-francisco: "Sue Ellen Francisco";
    --font-suez-one: "Suez One";
    --font-sumana: "Sumana";
    --font-sunshiney: "Sunshiney";
    --font-supermercado-one: "Supermercado One";
    --font-sura: "Sura";
    --font-suranna: "Suranna";
    --font-suravaram: "Suravaram";
    --font-suwannaphum: "Suwannaphum";
    --font-swanky-and-moo-moo: "Swanky and Moo Moo";
    --font-syncopate: "Syncopate";
    --font-tangerine: "Tangerine";
    --font-taprom: "Taprom";
    --font-tauri: "Tauri";
    --font-taviraj: "Taviraj";
    --font-teko: "Teko";
    --font-telex: "Telex";
    --font-tenali-ramakrishna: "Tenali Ramakrishna";
    --font-tenor-sans: "Tenor Sans";
    --font-text-me-one: "Text Me One";
    --font-the-girl-next-door: "The Girl Next Door";
    --font-tienne: "Tienne";
    --font-tillana: "Tillana";
    --font-timmana: "Timmana";
    --font-tinos: "Tinos";
    --font-titan-one: "Titan One";
    --font-titillium-web: "Titillium Web";
    --font-trade-winds: "Trade Winds";
    --font-trirong: "Trirong";
    --font-trocchi: "Trocchi";
    --font-trochut: "Trochut";
    --font-trykker: "Trykker";
    --font-tulpen-one: "Tulpen One";
    --font-ubuntu: "Ubuntu";
    --font-ubuntu-condensed: "Ubuntu Condensed";
    --font-ubuntu-mono: "Ubuntu Mono";
    --font-ultra: "Ultra";
    --font-uncial-antiqua: "Uncial Antiqua";
    --font-underdog: "Underdog";
    --font-unica-one: "Unica One";
    --font-unifrakturcook: "UnifrakturCook";
    --font-unifrakturmaguntia: "UnifrakturMaguntia";
    --font-unkempt: "Unkempt";
    --font-unlock: "Unlock";
    --font-unna: "Unna";
    --font-vt323: "VT323";
    --font-vampiro-one: "Vampiro One";
    --font-varela: "Varela";
    --font-varela-round: "Varela Round";
    --font-vast-shadow: "Vast Shadow";
    --font-vesper-libre: "Vesper Libre";
    --font-vibur: "Vibur";
    --font-vidaloka: "Vidaloka";
    --font-viga: "Viga";
    --font-voces: "Voces";
    --font-volkhov: "Volkhov";
    --font-vollkorn: "Vollkorn";
    --font-voltaire: "Voltaire";
    --font-waiting-for-the-sunrise: "Waiting for the Sunrise";
    --font-wallpoet: "Wallpoet";
    --font-walter-turncoat: "Walter Turncoat";
    --font-warnes: "Warnes";
    --font-wellfleet: "Wellfleet";
    --font-wendy-one: "Wendy One";
    --font-wire-one: "Wire One";
    --font-work-sans: "Work Sans";
    --font-yanone-kaffeesatz: "Yanone Kaffeesatz";
    --font-yantramanav: "Yantramanav";
    --font-yatra-one: "Yatra One";
    --font-yellowtail: "Yellowtail";
    --font-yeseva-one: "Yeseva One";
    --font-yesteryear: "Yesteryear";
    --font-yrsa: "Yrsa";
    --font-zeyada: "Zeyada";
}

:root {
/* 1a */
  --font-family-helvetica-neue: "Helvetica Neue",Helvetica,Arial,sans-serif;
/* 1b */
  --font-family-helvetica-neue-light: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/* 1c */
  --font-family-menlo: Menlo, Monaco, Consolas, "Courier New", monospace;
/* 1d */
  --font-family-georgia: Georgia, "Times New Roman", Times, serif;
/* 1e */
  --font-family-titillium: "Titillium Web","Lucida Grande","Lucida Sans",sans-serif;
/* 1f */
   --font-family-ampersand: Ampersand,ff-more-web-pro,"More Pro",Georgia,Times,serif;
}

:root {
/* 2a */
  --font-size-root: 16px;
}


/* 3 */
:root {
  --font-size-100: 0.750rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1.000rem;

  --font-size-400: 1.250rem;
  --font-size-500: 1.500rem;
  --font-size-600: 1.750rem;
  --font-size-700: 2.000rem;
  --font-size-800: 2.500rem;
  --font-size-900: 3.000rem;

  --font-size-xs: var(--font-size-100);
  --font-size-sm: var(--font-size-200);
  --font-size-lg: var(--font-size-400);
}
