/* =======================================
   FONT FAMILY VARIABLES
   =======================================
   1:  Sans serif font family (Bootstrap default)
   2:  Helvetica font stack.  For more see See
       https://css-tricks.com/snippets/css/better-helvetica
   3:  Bootstrap's default monospace font
       for `<code>`, `<kbd>`, and `<pre>`.
   4:  Serif font family
   5:  Titillium font family
   6:  Gibson font family
   --------------------------------------- */
:root {
/* 1 */
  --font-family-sans-serif: '"Helvetica Neue",Helvetica,Arial,sans-serif';
/* 2 */
  --font-family-helvetica: 'HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Helvetica Neue", Arial, "Lucida Grande", sans-serif';
/* 3 */
  --font-family-monospace: 'Menlo, Monaco, Consolas, "Courier New", monospace';
/* 4 */
  --font-family-serif: 'Georgia, "Times New Roman", Times, serif';
/* 5 */
  --font-family-titillium: "Titillium Web","Lucida Grande","Lucida Sans",sans-serif;
/* 6 */
  --font-family-gibson: 'Gibson, var(--font-family-helvetica)';
}
